@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Fascinate&family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;;
  font-size: 16px;
  line-height: 1;
  background-color: coral;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: coral;
  border-radius: 0;
  border-bottom: 10px solid coral;
  background-color: rgb(42, 30, 203);
}

#currentDay {
  padding-top: 40px;
  font-size: xx-large;
  font-weight: bold;
}

.description {
  white-space: pre-wrap;
}

.container {
  position: relative;
  height: 130px;
}

.time-block {
  color: rgb(42, 30, 203);
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
  border-radius: 15px;
  margin-bottom: 15px;
}

.row {
  white-space: pre-wrap;
  height: 70px;
}

.hour {
  background-color: #ffffff;
  color: rgb(42, 30, 203);
  border: 2px dashed rgb(42, 30, 203);
  padding-top: 7px;
  text-align: left;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-radius: 15px;
  background-color: rgb(42, 30, 203);
  color: coral;
  height: 40px;
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
  right: 8px;
  z-index: 2;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
